flows.json
[{"id":"c14d9100.76c3d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e7c1b9b.4e0708","type":"ibmiot in","z":"c14d9100.76c3d","authentication":"apiKey","apiKey":"d366bfa.81cdf4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":200,"wires":[["5c29b9b7.cecdb8","9c6c7bb7.b06858"]]},{"id":"840db898.17fd58","type":"debug","z":"c14d9100.76c3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"5416938d.a8bf6c","type":"http in","z":"c14d9100.76c3d","name":"","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":230,"y":460,"wires":[["ab793a13.dc9e18"]]},{"id":"5588d493.5e60ec","type":"http response","z":"c14d9100.76c3d","name":"","statusCode":"","headers":{},"x":690,"y":460,"wires":[]},{"id":"525ef9c2.1df1a8","type":"ui_gauge","z":"c14d9100.76c3d","name":"","group":"520f39cf.898188","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":40,"wires":[]},{"id":"1f35846e.b3afac","type":"ui_gauge","z":"c14d9100.76c3d","name":"","group":"520f39cf.898188","order":1,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"5c29b9b7.cecdb8","type":"function","z":"c14d9100.76c3d","name":"Temp","func":"global.set('temperature',msg.payload.Temperature);\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["840db898.17fd58","525ef9c2.1df1a8"]]},{"id":"9c6c7bb7.b06858","type":"function","z":"c14d9100.76c3d","name":"Pulse","func":"global.set('pulse_rate',msg.payload.Pulse_Rate);\nmsg.payload=msg.payload.Pulse_Rate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":280,"wires":[["840db898.17fd58","1f35846e.b3afac"]]},{"id":"ab793a13.dc9e18","type":"function","z":"c14d9100.76c3d","name":"","func":"msg.payload={'Tempeartue':global.get(\"temperature\"),'Pulse Rate':global.get(\"pulse_rate\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":460,"wires":[["5588d493.5e60ec"]]},{"id":"d366bfa.81cdf4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"520f39cf.898188","type":"ui_group","z":"","name":"Default","tab":"fdde0fd6.ee83c","order":1,"disp":true,"width":"6","collapse":false},{"id":"fdde0fd6.ee83c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]